{% extends 'shop/index.html' %}

{% load static %}

{% block content %}
<div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-sm-12">
          <div class="home-tab">
           </br>
            <div class="col grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                      <div style="display: flex; justify-content: space-between; align-items: center;">
                        <h4 class="card-title" style="margin: 0;">
                          Add Item Details
                        </h4>

                        <div>

                            <a class="btn btn-outline-info btn-sm" href="{% url 'shop:category_create'%}">Add Category</a>

                          </div>
                          </div>

                    <form class="forms-sample" method="POST" enctype="multipart/form-data">
                      {% csrf_token %}
                      {% if messages %}
                                  {% for message in messages %}
                                      <div class="alert alert-danger" role="alert">
                                          {{ message }}
                                      </div>
                                  {% endfor %}
                              {% endif %}
                      {{form}}

                    </br>
                      <button type="submit" class="btn btn-primary me-2">Submit</button>
                      <button class="btn btn-light">Cancel</button>
                    </form>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>

{% endblock  %}
